*/dist/
*/pkg/
*/target/
.DS_Store
/target/
/validation/node_modules/
/validation/test-results/
/validation/playwright-report/
/.tools
**/__pycache__/
/.cache/
**/.venv/

/musical-leptos/node_modules/
